@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 60px
}

* {
  font-family: "Poppins", sans-serif;
}

input:active, input:focus {
  outline: none;
}

/* .Toastify__toast-icon {
  display: inline !important;
} */